.navLogo {
  cursor: pointer;
  position: relative;
  width: auto;
  height: var(--pixel-30);
}

.navMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--pixel-5);
  gap: var(--pixel-5);
}

.nav,
.navBody {
  display: flex;
  align-items: center;
}

.navBody {
  align-self: stretch;
  height: var(--pixel-70);
  color: var(--color-primary);
  flex-direction: row;
  justify-content: center;
  gap: var(--pixel-10);
}

.navToggle {
  gap: var(--pixel-5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: var(--color-foreground);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--pixel-60);
  z-index: 999;
  border-bottom: 1px solid var(--color-secondary-10);
}

@media screen and (max-width: 880px) {
  .navMenu {
    display: none;
  }
}

@media screen and (min-width: 701px) and (max-width: 1120px) {
  .nav {
    padding: 0 var(--pixel-30);
  }
}

@media screen and (max-width: 700px) {
  .nav {
    padding: 0 var(--pixel-20);
  }
}
