.galleryImageIcon {
  opacity: 1;
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: var(--transit);
}

.galleryImageIcon:hover {
  opacity: 0.7;
}

.galleryImage {
  height: var(--pixel-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--pixel-10);
  overflow: hidden;
  transition: var(--transit);
}

.galleryBody {
  align-self: stretch;
  display: grid;
  background-color: var(--color-light);
  border-radius: var(--pixel-20);
  grid-template-columns: repeat(auto-fill, minmax(var(--pixel-200), 1fr));
  padding: var(--pixel-10);
  gap: var(--pixel-10);
}
